
#gameBoard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1r;
    width: 600px;
    height: 600px;
    border: 2px solid black;
    margin-bottom: 20px;
}

.box {
    border: 1px solid black;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 90%;
}

input {
    color: black;
    
}

